.search-result {
    padding: 10px 20px;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: relative;
    text-decoration: none;
    color: black;
}

.search-result:hover {
    background-color: #cbcacab8;
}

.book-image {
    max-height: 50px;
    width: auto;
}

#clearBtn {
    cursor: pointer;
}